body * {
  font-size: large;
}

@media (orientation: portrait) {
  .responsiveFlexDirection {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  .responsiveFlexDirection {
    flex-direction: row;
  }
  .responsiveHidden {
    display: none;
  }
  .responsiveMaxHeight {
    max-height: 100vh;
  }
}
