body * {
  font-size: large;
}

@media (orientation: portrait) {
  .responsiveFlexDirection {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  .responsiveFlexDirection {
    flex-direction: row;
  }
}

/* @media (orientation: portrait) {
  .responsiveHidden {
  }
} */

@media (orientation: landscape) {
  .responsiveHidden {
    display: none;
  }
}
