* {
  font-size: large;
  font-family: "Helvetica";
}

@media (orientation: portrait) {
  .responsiveFlexDirection {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  .responsiveFlexDirection {
    flex-direction: row;
  }
  .responsiveHidden {
    display: none;
  }
}
